/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;padding: 0;
}
body{
  background-color: #ffffff;
  box-sizing: border-box;
}

nav{
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 2px 2px 5px gray;
  
}
.navDiv{
  display: flex;
  align-items: center;
  gap: 20px;
}
h1{
  font-size: 30px;
  font-weight: bolder;
  background: -webkit-linear-gradient(90deg,#5aacff, #0f5cb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul{
  display: flex;
  list-style-type: none;
  max-width: 800px;
  font-size: 17px;
  font-weight: bold;
}
li{
  padding: 0 15px;
  cursor: pointer;
}
li:hover{
  color: rgb(11, 99, 194);
}
button{
  width: 110px;
  height: 45px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  transition: all 0.3s ease-in;
}
button:hover{
  border: 5px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}
menu{
  cursor: pointer;
  display: none;
}
#menuContent{
  /* display: none; */
  position: absolute;
  overflow: hidden;
  top: 90px;
  right: 6px;
  background-color: #ffffffbe;
  width: 230px;
  border-radius: 7px;
  border: 1px solid rgb(203, 203, 203);
  list-style-type: none;
  /* opacity: 0%; */
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px gray;
}
.activemenu{
  display: block;
}
.disabledmenu{
  display: none;
}

#menuContent li{
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
#menuContent li:hover{
  background-color: #7cc2ff;
  color: black;
}  
menu:hover #menuContent{
  display: block;
  top: 90px;
  opacity: 100%;

}
#menuContact, #menuTools, #menuPricing, #menuBlogs, #menuProducts {
  display: none;
}

@media only screen and (max-width: 1100px) {
  #navContact{
    display: none;
  }
  menu{
    display: block;
  }
  #menuContact{
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  #navTools{
    display: none;
  }
  #navTools{
    display: none;
  }
  #menuTools{
    display: block;
  }
}

@media only screen and (max-width: 760px) {
  #navPricing{
    display: none;
  }
  #menuPricing{
    display: block;
  }
  h1{
    font-size: 25px;
  }
}

@media only screen and (max-width: 650px){
  nav{
    padding: 13px 20px;
  }
  nav ul{
    display: none;
  }
  #menuBlogs, #menuProducts{
    display: block;
  }
  h1{
    font-size: 20px;
    font-weight: bolder;
  }
  button{
    width: 85px;
    height: 38px;
    border-radius: 8px;
    font-size: 14px;
  }
  .navDiv{
    box-sizing: border-box;
    gap: 14px;
  }

  #menuContent{
    top: 75px;
    left: 0;
    width: 100vw;
  }

}